/*
 * Created by Vineetha Nadimpalli
 * 
*/

body {
  padding: 20px;
  
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
 
}

body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
  background-color: black;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: black;
  color: white;
  cursor: pointer;
}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

span {
  color: blue;
  font-family: Arial;
  font-size: smaller;
}